/* Título centrado debajo del menú */
h1 {
  margin-top: 80px;    /* Espacio para que no se solape con el nav */
  text-align: center;
  font-size: 2.5em;
  color: #222;
}

#presentacion {
  display: flex;           /* Imagen y texto en línea */
  align-items: center;     /* Centra verticalmente */
  gap: 20px;               /* Espacio entre imagen y texto */
  padding: 20px;
}

#presentacion .foto {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

#presentacion .texto {
  flex: 1;                 /* Ocupa el resto del espacio */
}

/* El título encima del párrafo */
#presentacion .texto h2 {
  margin: 0 0 10px 0;      /* Espacio debajo del título */
  font-weight: bold;
  font-size: 160%;
}

#presentacion .texto p {
  text-align: justify;
  margin: 0;
  font-size: 120%;
}

#resumen {
  display: flex;          /* Coloca los elementos en línea */
  align-items: center;    /* Centra verticalmente la imagen y el texto */
  gap: 20px;              /* Espacio entre imagen y texto */
  padding: 20px;          /* Espacio interno */
}

#resumen .computacion {
  width: 500px;           /* Tamaño de la imagen */
  height: auto;           /* Mantiene proporciones */
  flex-shrink: 0;         /* Evita que la imagen se reduzca demasiado */
}

#resumen .text {
  flex: 1;                /* Ocupa el espacio restante */
}

#resumen .text h3 {
  margin: 0 0 10px 0;     /* Espacio debajo del título */
  font-weight: bold;
  font-size: 1.6rem;
}

#resumen .text p {
  margin: 0;
  font-size: 1.2rem;
  text-align: justify;
}

hr {
    border: none;          /* elimina borde por defecto */
    height: 2px;           /* grosor de la línea */
    background-color: #ccc; /* color de la línea */
    margin: 40px 0;        /* separación vertical antes y después de la línea */
}



