* Elimina márgenes por defecto */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilo del encabezado */
header {
  position: relative;
  padding: 20px;
}

nav {
  position: absolute;
  width: 100%;
  background-color: #333;
  padding: 15px 20px;
  top: 20px;
  left: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Esto mueve los enlaces a la derecha */
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover{
    color: #00FF00;
}


footer{
  position: fixed;       /* Fija el footer en pantalla */
  bottom: 0;             /* Lo coloca en la parte inferior */
  left: 0;               /* Alineado a la izquierda */
  background-color: #333; /* Color de fondo opcional */
  color: white;          /* Texto blanco */
  padding: 10px 20px;    /* Espaciado */
  font-size: 14px;
}